body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/pexels-pixabay-221345.jpg);
  background-size: cover;
  background-position: center;
}


:root {
  --border-radius: 10px;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 20px auto;
  text-align: center;
}

.add-button {
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button:hover {
  font-size: 17px;
  transition: font-size 0.3s;
}

.add-button:disabled {
  opacity: 0.5;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#dialog-form.modal .modal-content {
  background-color: #888;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

/* The travel modal button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Travel modal close-btn */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* -------------Dashboard Style-------------*/
h4:first-child.cell {
  margin-top: calc(2rem - .1428571428571429em);
}

.ui.message p:first-child.cell {
  margin-top: 0.75em;
}

.dashboard-heading.fixed-grid.has-5-cols {
  padding: 1em 1.5em;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);


}

.cell.dropdown.icon {
  justify-self: flex-end;
  margin-top: 0.75em;
}

.title.fixed-grid.has-5-cols {
  margin-bottom: 0;
}

.grid .cell.d-heading {
  margin: 1rem 0;
}

p.card-header-title,
img.card-header-title {
  margin: 0;
  justify-self: center;
}

.card-header.fixed-grid.has-5-cols .grid {
  width: 100%;
}

.cell.card-header-title.is-flex {
  justify-content: center
}

.grid .card-header-icon {
  justify-content: flex-end;
}

.card-hidden {
  display: none;
}

#data {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.card-header.grid {
  margin-bottom: 0;
  padding: 5px 20px;

  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Inner travel card */
.content.level-left {
  width: 70%;
  border-radius: var(--bulma-card-radius);
  flex-direction: column;
  margin-bottom: 1rem;

  .fixed-grid.has-4-cols {
    width: 100%;

    .grid {
      --bulma-grid-column-count: 4;
    }

    .grid.travel-title {
      border-bottom: 1px solid black;
    }

    .grid.travel-data {
      .cell {
        margin-bottom: 0;
        align-content: center;
        margin-bottom: 1rem;
        border-radius: var(--bulma-card-radius);
      }
    }
  }
}

.level {
  align-items: flex-start;
}

.content.level-right {
  width: 30%;
  margin-bottom: 1rem;
  border-radius: var(--bulma-card-radius);
  justify-content: center;
  flex-direction: column;

  .mt-1.is-size-3,
  .sight {
    color: white;
  }

  .sight {
    text-align: left;
  }

}

.dropdown-trigger {
  width: 100%;

  button.button {
    width: 100%;
  }

  span.icon.is-small {
    width: 100%;
    justify-content: flex-start;

    .fa-angle-down {
      margin-left: auto;
    }
  }
}

/* .fa-suitcase-rolling {
  color: black;
} */
.fa-arrow-down-long {
  font-size: 10px;
  margin-left: 10px;
}

.fa-circle-check {
  color: green;
}

.fa-plane-departure {
  color: orange;
}

.button-holder {
  justify-content: flex-end;
}



/* Added for user Shweta */
#user-dob {
  z-index: 101;
}

#map {
  height: 400px;
  width: 100%;
}

/* Added the styling changes for the user modal dialog */
.input {
  --bulma-input-placeholder-color: #7676765e;
}

.userformdialog .ui-dialog-titlebar {
  /* background-color: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-light-l), 1); */
  background-color: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-on-scheme-l), 1);
}

.userformdialog .ui-dialog-buttonpane {
  background-color: hsla(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-on-scheme-l), 1);
}

.userformbuttons {
  opacity: 0.5;
}

/* Styling changes for travel modal dialog */
#users {
  background-color: white;
  color: black;
}

#trip-details {
  border: solid;
  padding: 20px;
  margin: 10px;
}